# HPC Login Node Resource Limits
*               soft    nproc           4096
*               hard    nproc           16384
*               soft    nofile          8192
*               hard    nofile          32768
*               soft    stack           16384
*               hard    stack           32768
*               soft    memlock         unlimited
*               hard    memlock         unlimited