dn: {{ ldap_root_dn }}
objectClass: organizationalRole
objectClass: simpleSecurityObject
cn: admin
description: LDAP Administrator
userPassword: {{ '{SSHA}' + admin_password_hash.stdout if admin_password_hash is defined else '{SSHA}PLACEHOLDER' }}