include         /etc/openldap/schema/core.schema
include         /etc/openldap/schema/cosine.schema
include         /etc/openldap/schema/nis.schema
include         /etc/openldap/schema/inetorgperson.schema

pidfile         /var/run/openldap/slapd.pid
argsfile        /var/run/openldap/slapd.args

modulepath      /usr/lib64/openldap
moduleload      back_mdb.la
# comment it out if using a different backend
# moduleload back_bdb.la

# And update your database section to use mdb instead of bdb:
database        mdb
# instead of: database bdb
suffix          "{{ ldap_base_dn }}"
rootdn          "{{ ldap_root_dn }}"
rootpw          "{SSHA}gho9oHk0HGcUKZzSbYOgMP3AlpXkxd8+"

directory       /var/lib/ldap

# Fix the objectClass index - it can't use substr
index objectClass                       eq,pres
{% for index in ldap_indexes %}
index {{ index }}                      eq,pres,sub
{% endfor %}

access to attrs=userPassword,shadowLastChange
        by dn="{{ ldap_root_dn }}" write
        by anonymous auth
        by self write
        by * none

access to dn.base="" by * read

access to *
        by dn="{{ ldap_root_dn }}" write
        by * read

# Remove default database configuration
database config
rootdn "cn=admin,cn=config"
rootpw {SSHA}gho9oHk0HGcUKZzSbYOgMP3AlpXkxd8+