# Archivos de esquema
include         /etc/openldap/schema/core.schema
include         /etc/openldap/schema/cosine.schema
include         /etc/openldap/schema/nis.schema
include         /etc/openldap/schema/inetorgperson.schema

# Archivos PID y argumentos
pidfile         /var/run/openldap/slapd.pid
argsfile        /var/run/openldap/slapd.args

# Módulos
modulepath      /usr/lib64/openldap
moduleload      back_mdb.la

# Base de datos
database        mdb
suffix          "{{ ldap_base_dn }}"
rootdn          "{{ ldap_root_dn }}"
rootpw          "{{ ldap_root_pw | default('{SSHA}gho9oHk0HGcUKZzSbYOgMP3AlpXkxd8+') }}"

# Directorio donde se almacena la base de datos
directory       /var/lib/ldap

# Nivel de logs
loglevel        256

{% set no_sub_attrs = ['objectClass', 'uidNumber', 'gidNumber', 'loginShell', 'homeDirectory', 'uniqueMember'] %}

{% for index in ldap_indexes | default(['uid', 'cn', 'mail', 'sn', 'givenName']) | unique %}
{% if index in no_sub_attrs %}
index {{ index }} eq,pres
{% else %}
index {{ index }} eq,pres,sub
{% endif %}
{% endfor %}

# ACLs
access to attrs=userPassword,shadowLastChange
        by dn="{{ ldap_root_dn }}" write
        by anonymous auth
        by self write
        by * none

access to dn.base=""
        by * read

access to *
        by dn="{{ ldap_root_dn }}" write
        by * read

# Config DB
database config
rootdn "cn=admin,cn=config"
rootpw {SSHA}gho9oHk0HGcUKZzSbYOgMP3AlpXkxd8+
