[Unit]
Description=OpenLDAP Server
After=network-online.target
Requires=network-online.target

[Service]
Type=forking
User=ldap
Group=ldap
EnvironmentFile=-/etc/sysconfig/slapd
ExecStart=/usr/sbin/slapd -u ldap -g ldap -h "ldap:/// ldaps:///" $SLAPD_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target