# HPC-admins group
dn: cn=HPC-admins,ou=Groups,{{ ldap_base_dn }}
objectClass: groupOfNames
objectClass: top
cn: HPC-admins
description: SLURM Cluster Administrators
member: uid=psantana,ou=People,{{ ldap_base_dn }}
member: uid=jsmith,ou=People,{{ ldap_base_dn }}
member: uid=rjohnson,ou=People,{{ ldap_base_dn }}

# cfes group
dn: cn=cfes,ou=Groups,{{ ldap_base_dn }}
objectClass: groupOfNames
objectClass: top
cn: cfes
description: Core Facility Earth Sciences
member: uid=mgarcia,ou=People,{{ ldap_base_dn }}
member: uid=dwilliams,ou=People,{{ ldap_base_dn }}
member: uid=lbrown,ou=People,{{ ldap_base_dn }}
member: uid=tlee,ou=People,{{ ldap_base_dn }}

# quantum-physics group
dn: cn=quantum-physics,ou=Groups,{{ ldap_base_dn }}
objectClass: groupOfNames
objectClass: top
cn: quantum-physics
description: Quantum Physics Research Group
member: uid=kfeynman,ou=People,{{ ldap_base_dn }}
member: uid=sbohr,ou=People,{{ ldap_base_dn }}
member: uid=hheisenberg,ou=People,{{ ldap_base_dn }}
member: uid=ddirac,ou=People,{{ ldap_base_dn }}

# particle-physics group
dn: cn=particle-physics,ou=Groups,{{ ldap_base_dn }}
objectClass: groupOfNames
objectClass: top
cn: particle-physics
description: Particle Physics Research Group
member: uid=ehiggs,ou=People,{{ ldap_base_dn }}
member: uid=mplanck,ou=People,{{ ldap_base_dn }}
member: uid=aeinstein,ou=People,{{ ldap_base_dn }}
member: uid=cyang,ou=People,{{ ldap_base_dn }}

# astrophysics group
dn: cn=astrophysics,ou=Groups,{{ ldap_base_dn }}
objectClass: groupOfNames
objectClass: top
cn: astrophysics
description: Astrophysics Research Group
member: uid=shawking,ou=People,{{ ldap_base_dn }}
member: uid=ntyson,ou=People,{{ ldap_base_dn }}
member: uid=csagan,ou=People,{{ ldap_base_dn }}
member: uid=jkaku,ou=People,{{ ldap_base_dn }}

# condensed-matter group
dn: cn=condensed-matter,ou=Groups,{{ ldap_base_dn }}
objectClass: groupOfNames
objectClass: top
cn: condensed-matter
description: Condensed Matter Physics Research Group
member: uid=landerson,ou=People,{{ ldap_base_dn }}
member: uid=bcooper,ou=People,{{ ldap_base_dn }}
member: uid=jbardeen,ou=People,{{ ldap_base_dn }}
member: uid=rfeynman,ou=People,{{ ldap_base_dn }}

# User entries
dn: uid=psantana,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Pedro Santana
sn: Santana
uid: psantana
uidNumber: 1001
gidNumber: 1001
homeDirectory: /home/psantana
userPassword: {SSHA}changeme

dn: uid=jsmith,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: John Smith
sn: Smith
uid: jsmith
uidNumber: 1002
gidNumber: 1002
homeDirectory: /home/jsmith
userPassword: {SSHA}changeme

dn: uid=rjohnson,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Robert Johnson
sn: Johnson
uid: rjohnson
uidNumber: 1003
gidNumber: 1003
homeDirectory: /home/rjohnson
userPassword: {SSHA}changeme

dn: uid=mgarcia,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Maria Garcia
sn: Garcia
uid: mgarcia
uidNumber: 1004
gidNumber: 1004
homeDirectory: /home/mgarcia
userPassword: {SSHA}changeme

dn: uid=dwilliams,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: David Williams
sn: Williams
uid: dwilliams
uidNumber: 1005
gidNumber: 1005
homeDirectory: /home/dwilliams
userPassword: {SSHA}changeme

dn: uid=lbrown,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Lisa Brown
sn: Brown
uid: lbrown
uidNumber: 1006
gidNumber: 1006
homeDirectory: /home/lbrown
userPassword: {SSHA}changeme

dn: uid=tlee,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Thomas Lee
sn: Lee
uid: tlee
uidNumber: 1007
gidNumber: 1007
homeDirectory: /home/tlee
userPassword: {SSHA}changeme

dn: uid=kfeynman,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Kevin Feynman
sn: Feynman
uid: kfeynman
uidNumber: 1008
gidNumber: 1008
homeDirectory: /home/kfeynman
userPassword: {SSHA}changeme

dn: uid=sbohr,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Sarah Bohr
sn: Bohr
uid: sbohr
uidNumber: 1009
gidNumber: 1009
homeDirectory: /home/sbohr
userPassword: {SSHA}changeme

dn: uid=hheisenberg,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Hans Heisenberg
sn: Heisenberg
uid: hheisenberg
uidNumber: 1010
gidNumber: 1010
homeDirectory: /home/hheisenberg
userPassword: {SSHA}changeme

dn: uid=ddirac,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: David Dirac
sn: Dirac
uid: ddirac
uidNumber: 1011
gidNumber: 1011
homeDirectory: /home/ddirac
userPassword: {SSHA}changeme

dn: uid=ehiggs,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Emma Higgs
sn: Higgs
uid: ehiggs
uidNumber: 1012
gidNumber: 1012
homeDirectory: /home/ehiggs
userPassword: {SSHA}changeme

dn: uid=mplanck,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Max Planck
sn: Planck
uid: mplanck
uidNumber: 1013
gidNumber: 1013
homeDirectory: /home/mplanck
userPassword: {SSHA}changeme

dn: uid=aeinstein,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Albert Einstein
sn: Einstein
uid: aeinstein
uidNumber: 1014
gidNumber: 1014
homeDirectory: /home/aeinstein
userPassword: {SSHA}changeme

dn: uid=cyang,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Chen Yang
sn: Yang
uid: cyang
uidNumber: 1015
gidNumber: 1015
homeDirectory: /home/cyang
userPassword: {SSHA}changeme

dn: uid=shawking,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Stephen Hawking
sn: Hawking
uid: shawking
uidNumber: 1016
gidNumber: 1016
homeDirectory: /home/shawking
userPassword: {SSHA}changeme

dn: uid=ntyson,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Neil Tyson
sn: Tyson
uid: ntyson
uidNumber: 1017
gidNumber: 1017
homeDirectory: /home/ntyson
userPassword: {SSHA}changeme

dn: uid=csagan,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Carl Sagan
sn: Sagan
uid: csagan
uidNumber: 1018
gidNumber: 1018
homeDirectory: /home/csagan
userPassword: {SSHA}changeme

dn: uid=jkaku,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: John Kaku
sn: Kaku
uid: jkaku
uidNumber: 1019
gidNumber: 1019
homeDirectory: /home/jkaku
userPassword: {SSHA}changeme

dn: uid=landerson,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Lisa Anderson
sn: Anderson
uid: landerson
uidNumber: 1020
gidNumber: 1020
homeDirectory: /home/landerson
userPassword: {SSHA}changeme

dn: uid=bcooper,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Brian Cooper
sn: Cooper
uid: bcooper
uidNumber: 1021
gidNumber: 1021
homeDirectory: /home/bcooper
userPassword: {SSHA}changeme

dn: uid=jbardeen,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: John Bardeen
sn: Bardeen
uid: jbardeen
uidNumber: 1022
gidNumber: 1022
homeDirectory: /home/jbardeen
userPassword: {SSHA}changeme

dn: uid=rfeynman,ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
cn: Richard Feynman
sn: Feynman
uid: rfeynman
uidNumber: 1023
gidNumber: 1023
homeDirectory: /home/rfeynman
userPassword: {SSHA}changeme 