global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: 15s

rule_files:
  - alert_rules.yml

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ prometheus_port }}']

  - job_name: 'node_exporter'
    static_configs:
      - targets:
          - localhost:{{ node_exporter_port }}
          {% for host in groups['all'] %}
          {% if host != 'services01' and host != inventory_hostname %}
          - {{ hostvars[host]['ansible_host'] | default(host) }}:{{ node_exporter_port }}
          {% endif %}
          {% endfor %}

{% if 'slurmctld' in groups %}
  - job_name: 'slurm_exporter'
    scrape_interval: 30s
    scrape_timeout: 30s
    static_configs:
      - targets:
          {% for host in groups['slurmctld'] %}
          - {{ hostvars[host]['ansible_host'] | default(host) }}:{{ slurm_exporter_port }}
          {% endfor %}
{% endif %}
